DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=my-secret-pw
DB_NAME=projectxdev
DB_SYNC=true
DB_LOGGING=true
PORT=8000
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_APP_SECRET=your-facebook-app-secret